@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
nav {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}
