* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
}
:root {
  --primary-color: #7843ff;
  --secondary-color: rgb(245, 245, 245);
}
body {
  background-color: #04143f;
}
